<div class="padded-page">
  <mco-page-header></mco-page-header>
  <mco-title-and-trail title="Import Cards" [trail]="['Admin']"></mco-title-and-trail>

  <mat-card class="import-cards-content">
    <mat-form-field class="input-area">
      <textarea #inputArea matInput placeholder="Input"></textarea>
    </mat-form-field>

    <div fxLayout="row">
      <button mat-raised-button color="primary" (click)="openFileDialog()">Select From File</button>
      <input class="file-selector" type="file" ng2FileSelect #fileInput (change)="fileChanged($event)"/>
      <span fxFlex></span>
      <button mat-raised-button color="primary" (click)="import()">Import</button>
    </div>
  </mat-card>
</div>
