<mco-default-page [title]="'Collection - ' + collection.name">
  <div mcoPageExtraHeader fxFlex fxLayoutAlign="space-between center">
    <button class="options-button mat-elevation-z2"
      (click)="toggleBookmark()"
      mat-icon-button matTooltip="Toggle Bookmark">
      <mat-icon>{{ collection.isBookmarked ? 'bookmark' : 'bookmark_border' }}</mat-icon>
    </button>

    <div fxLayoutGap="5px">
      <button mat-raised-button (click)="openFilter()">Filter</button>
      <button mat-raised-button (click)="openRapidEntry()">Add</button>
    </div>
  </div>

  <mco-card fxFlex contentPadding="0px">
    <mco-card-instance-grouped-card-grid *ngIf="!filter.groupByCard"
      [filter]="filter"
      [displayedColumns]="['count', 'name', 'manaCost', 'power', 'toughness', 'actions']"
      [wrappedService]="wrappedService"
      (rowSelected)="cardInstanceSelected($event)">

      <ng-container matColumnDef="actions">
        <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="crud-grid-action-column" *matCellDef="let record">
          <button mat-icon-button (click)="$event.stopPropagation(); removeFromCollection(record)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mco-card-instance-grouped-card-grid>
    <!-- <mco-card-instance-grid *ngIf="!filter.groupByCard"
      [filter]="filter"
      [displayedColumns]="['name', 'setSymbol', 'manaCost', 'power', 'toughness', 'foil', 'promo', 'actions']"
      [wrappedService]="wrappedService"
      (rowSelected)="cardInstanceSelected($event)">

      <ng-container matColumnDef="actions">
        <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="crud-grid-action-column" *matCellDef="let record">
          <button mat-icon-button (click)="$event.stopPropagation(); removeFromCollection(record)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mco-card-instance-grid> -->
  </mco-card>
</mco-default-page>
