<mco-card-grid matSort class="mat-elevation-z4"
  [wrappedService]="cardWrappedService"
  (rowSelected)="rowSelected.emit($event)"
  [inputColumnDefs]="columnDefs"
  [filter]="filter"
  [displayedColumns]="displayedColumns">
  <ng-content></ng-content>

  <ng-container matColumnDef="setSymbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Set</mat-header-cell>
    <mat-cell *matCellDef="let record">
      <mco-ss [cardSet]="wrappedService.transform(record)" [sets]="sets"></mco-ss>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="setNum">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Num</mat-header-cell>
    <mat-cell *matCellDef="let record">{{wrappedService.transform(record).num}}</mat-cell>
  </ng-container>
</mco-card-grid>
