<div class="page-container">
  <div class="auth-card mat-elevation-z4">
    <div class="auth-header">
      <div class="auth-title">Mtg Card Organizer</div>
    </div>

    <form class="auth-content" [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email"
          matTooltip="Email not required, but if not provided will prevent use of 'Forgot Password'" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password"
          matTooltip="Password must be at least 8 characters long, at least 5 of them should be unique. Please consider using a longer password for improved security." />
        <mat-error *ngIf="form.get('password').hasError('passwordInvalid')">Password policy not satisfied</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password (Confirm)" type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="form.get('confirmPassword').hasError('passwordMismatch')">Passwords do not match</mat-error>
      </mat-form-field>

      <div class="auth-button-area">
        <button class="auth-button" [disabled]="!form.valid" mat-raised-button color="primary" (click)="register()">Register</button>
      </div>
    </form>

    <div class="auth-footer">
      <div>Already have an account?</div>
      <div routerLink="/auth/login" class="auth-link-text">Sign In</div>
    </div>
  </div>
</div>
