<div class="page-container">
  <div class="auth-card mat-elevation-z4">
    <div class="auth-header">
      <div class="auth-title">Mtg Card Organizer</div>
    </div>

    <div class="auth-content">
      <mat-form-field>
        <input matInput placeholder="Username" />
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password (Confirm)" type="password" />
      </mat-form-field>

      <div class="register-terms-conditions">
        <mat-checkbox>
          I accept the <a class="auth-link-text" href="javascript:void(0)">Terms and Conditions</a>
        </mat-checkbox>
      </div>

      <div class="auth-button-area">
        <button class="auth-button" mat-raised-button color="primary">Register</button>
      </div>
    </div>

    <div class="auth-footer">
      <div>Already have an account?</div>
      <div>
        <a class="auth-link-text" href="javascript:void(0)">Sign In</a>
      </div>
    </div>
  </div>
</div>
