<div class="page-container">
  <div class="auth-card mat-elevation-z4">
    <div class="auth-header">
      <div class="auth-title">Mtg Card Organizer</div>
    </div>

    <div class="auth-content">
      <mat-form-field>
        <input matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>

      <div class="login-forgot-password">
        <a class="auth-link-text" href="javascript:void(0)">Forgot Password?</a>
      </div>

      <div class="auth-button-area">
        <button class="auth-button" mat-raised-button color="primary">Login</button>
      </div>
    </div>

    <div class="auth-footer">
      <div>Don't have an account?</div>
      <div>
        <a class="auth-link-text" href="javascript:void(0)">Create an account</a>
      </div>
    </div>
  </div>
</div>
