<div class="page-container">
  <div class="auth-card mat-elevation-z4">
    <div class="auth-header">
      <div class="auth-title">Mtg Card Organizer</div>
    </div>

    <div class="auth-content">
      <form method="POST" class="auth-form">
        <mat-form-field>
          <input matInput name="loginName" placeholder="Username / Email" [(ngModel)]="loginName" />
        </mat-form-field>

        <mat-form-field>
          <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="password" />
        </mat-form-field>
      </form>

      <div *ngIf="error" class="auth-error">{{ error }}</div>

      <div class="login-forgot-password">
        <a class="auth-link-text" href="javascript:void(0)">Forgot Password?</a>
      </div>

      <div class="auth-button-area">
        <button class="auth-button" [disabled]="loading" mat-raised-button color="primary" (click)="login()">
          {{ loading ? "Loading..." : "Login" }}
        </button>
      </div>
    </div>

    <div class="auth-footer">
      <div>Don't have an account?</div>
      <div routerLink="/auth/register" class="auth-link-text">Create an account</div>
    </div>
  </div>
</div>
