<div class="padded-page">
  <div class="title-bar mat-elevation-z4" *ngIf="collection">
    <div fxFlex class="title">Collection: {{ collection.name }}</div>
    <button mat-raised-button color="primary" (click)="createCollection()">Add Collection</button>
    <button mat-raised-button color="primary" (click)="deleteCollection()">Delete Collection</button>
    <button mat-raised-button color="primary" (click)="openImport()">Import</button>
    <button mat-raised-button color="primary" (click)="openExport()">Export</button>
    <button mat-raised-button color="primary" (click)="openRapidEntry()">Fast Add</button>
  </div>

  <div class="title-bar mat-elevation-z4" *ngIf="!collection">
    <div fxFlex class="title">Collections</div>
    <button mat-raised-button color="primary" (click)="createCollection()">Add Collection</button>
    <button mat-raised-button color="primary" (click)="openImport()">Import</button>
  </div>

  <div class="inner-content">
    <div *ngIf="subCollections.length !== 0">
      <div class="collection-container" *ngFor="let collection of subCollections">
        <mat-card class="collection-card" (click)="collectionClicked(collection)">
          {{ collection.name }}
        </mat-card>
      </div>
    </div>

    <app-card-search *ngIf="collection" fxFlex [cardService]="collectionCardServiceWrapper"></app-card-search>
  </div>
</div>
