<div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail [title]="collection ? collection.name : authService.username + '\'s Collections'">
    <button [matMenuTriggerFor]="collectionMenu" class="options-button mat-elevation-z4" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </app-title-and-trail>

  <mat-menu #collectionMenu="matMenu">
    <button mat-menu-item (click)="createCollection()">Add Collection</button>
    <button mat-menu-item *ngIf="collection" (click)="deleteCollection()">Delete Collection</button>
    <button mat-menu-item (click)="openImport()">Import</button>
    <button mat-menu-item *ngIf="collection" (click)="openExport()">Export</button>
    <button mat-menu-item *ngIf="collection" (click)="openRapidEntry()">Fast Add</button>
  </mat-menu>

  <app-sub-collections *ngIf="!collection" [collection]="collection" [subCollections]="subCollections"></app-sub-collections>
  <app-collection-cards *ngIf="subCollections.length === 0 && collection" [collection]="collection"></app-collection-cards>

  <mat-tab-group class="inner-content mat-elevation-z4" *ngIf="subCollections.length !== 0 && collection">
    <mat-tab label="Sub Collections">
      <app-sub-collections [collection]="collection" [subCollections]="subCollections"></app-sub-collections>
    </mat-tab>
    <mat-tab label="Cards">
      <app-collection-cards [collection]="collection"></app-collection-cards>
    </mat-tab>
  </mat-tab-group>
</div>
