<!-- <div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail [title]="collection.name">
    <button [matMenuTriggerFor]="collectionMenu" class="options-button mat-elevation-z4" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </app-title-and-trail>

  <mat-menu #collectionMenu="matMenu">
    <button mat-menu-item *ngIf="collection" (click)="deleteCollection()">Delete Collection</button>
    <button mat-menu-item (click)="openImport()">Import</button>
    <button mat-menu-item *ngIf="collection" (click)="openExport()">Export</button>
    <button mat-menu-item *ngIf="collection" (click)="openRapidEntry()">Fast Add</button>
  </mat-menu>

  <app-card-search fxFlex
    [displayedColumns]="['name', 'setSymbol', 'manaCost', 'foil', 'promo']"
    [cardService]="collectionCardServiceWrapper"
    (cardInstanceSelected)="cardInstanceSelected($event)">
  </app-card-search>
</div> -->
