<div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail [title]="deck.name">
    <mat-button-toggle-group name="fontStyle" class="toggle-group" [(ngModel)]="mode">
      <mat-button-toggle value="view">View</mat-button-toggle>
      <mat-button-toggle value="edit">Edit</mat-button-toggle>
    </mat-button-toggle-group>
  </app-title-and-trail>

  <div fxLayout="row" fxLayoutGap="20px">

    <app-main-grid fxFlex [dataService]="mainDataService"></app-main-grid>
    <app-sideboard-grid [dataService]="sideBoardDataService"></app-sideboard-grid>
  </div>
</div>
