<mco-modal>
  <span mcoModalHeader>Import</span>

  <mat-form-field fxFlex>
    <textarea #inputArea matInput cdkTextareaAutosize cdkAutosizeMaxRows="25" placeholder="Input"></textarea>
  </mat-form-field>

  <div mcoModalActions fxLayoutGap="5px">
    <button mat-raised-button color="primary" (click)="openFileDialog()">Select From File</button>
    <input style="display: none" type="file" ng2FileSelect #fileInput (change)="fileChanged()"/>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="import()">Import</button>
  </div>
</mco-modal>
