<mco-modal>
  <span mcoModalHeader>Add Deck</span>

  <form autocomplete="off" [formGroup]="form" #formRef="ngForm" (ngSubmit)="confirm()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.get('name').hasError('required')">Required</mat-error>
    </mat-form-field>
  </form>

  <div mcoModalActions fxLayoutGap="5px">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button (click)="formRef.onSubmit()" mat-raised-button color="primary">Confirm</button>
  </div>
</mco-modal>
