mat-card {
  padding: 0px;
}

mat-card-content {
  padding: 20px;
  margin-bottom: 0px;
}

.header, .footer {
  background-color: lightgray;
  font-size: 20px;
  font-weight: bold;
}

.header {
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
}

.footer {
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: center;
}
