<div class="title">Sideboard</div>

<app-card-grid fxFlex
  [displayedColumns]="['toMain', 'remove', 'name', 'manaCost', 'count']"
  [wrappedService]="wrappedService">

  <ng-container matColumnDef="toMain">
    <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
    <mat-cell class="crud-grid-action-column" *matCellDef="let record">
      <button mat-icon-button (click)="$event.stopPropagation(); toMain.emit(record);">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="remove">
    <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
    <mat-cell class="crud-grid-action-column" *matCellDef="let record">
      <button mat-icon-button (click)="$event.stopPropagation(); remove.emit(record);">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef>Count</mat-header-cell>
    <mat-cell class="crud-grid-action-column" *matCellDef="let record">
      {{ record.count }}
    </mat-cell>
  </ng-container>
</app-card-grid>
