<mco-basic-grid matSort
  [service]="wrappedService.dataService"
  (rowSelected)="rowSelected.emit($event)"
  [inputColumnDefs]="columnDefs"
  [filter]="filter"
  [columns]="displayedColumns">
  <ng-content></ng-content>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let record">{{wrappedService.transform(record).name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="manaCost">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Mana Cost</mat-header-cell>
    <mat-cell *matCellDef="let record">
      <mco-mc [card]="wrappedService.transform(record)"></mco-mc>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let record">
      <span [matTooltip]="wrappedService.transform(record).type.split('—')[1]">
        {{wrappedService.transform(record).type.split('—')[0]}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Power/Toughness</mat-header-cell>
    <mat-cell class="cell-power-toughness" *matCellDef="let record">
      {{wrappedService.transform(record).power}}
      {{wrappedService.transform(record).power ? '/' : '-'}}
      {{wrappedService.transform(record).toughness}}
    </mat-cell>
  </ng-container>
</mco-basic-grid>
