.main-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .request-content {
    flex: 1;
    margin: 20px;
    margin-bottom: 0px;
  }

  > .reponse-content {
    flex: 1;
    margin: 20px;
  }
}
