<div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail title="Api Tester" [trail]="['Test']"></app-title-and-trail>

  <mat-card class="request-content">
    <div class="subtitle">Request</div>
    <div class="url-section">
      <mat-form-field>
        <input [(ngModel)]="baseApiUrl" matInput placeholder="Base Url">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="apiPath" matInput placeholder="Api Path">
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea [disabled]="requestMethodType !== 'POST'" [(ngModel)]="requestBody" matInput resizeToFitContent placeholder="Request Body"></textarea>
    </mat-form-field>
    <div class="button-row">
      <mat-radio-group [(ngModel)]="requestMethodType">
        <mat-radio-button value="GET">GET</mat-radio-button>
        <mat-radio-button value="POST">POST</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" (click)="send()">Send Request</button>
    </div>
  </mat-card>

  <mat-card class="reponse-content">
    <div class="subtitle">Response</div>
    <mat-form-field>
      <textarea [(ngModel)]="responseContent" matInput resizeToFitContent matTextareaAutosize matAutosizeMaxRows="10" placeholder="Response Content"></textarea>
    </mat-form-field>
  </mat-card>
</div>
