.padded-page {
  justify-content: space-between;

  > .request-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    > .url-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > * {
        flex: 1;
        margin-right: 10px;
      }
    }

    > .button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  > .reponse-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.subtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
