<div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail [title]="container ? container.name : authService.username + '\'s Collections'">
    <button [matMenuTriggerFor]="collectionMenu" class="options-button mat-elevation-z4" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </app-title-and-trail>

  <mat-menu #collectionMenu="matMenu">
    <button mat-menu-item (click)="openImport()">Import</button>
    <button mat-menu-item (click)="openExport()">Export</button>
    <button mat-menu-item (click)="createContainer()">Add Container</button>
    <button mat-menu-item (click)="createCollection()">Add Collection</button>
    <button mat-menu-item (click)="createDeck()">Add Deck</button>
  </mat-menu>

  <div class="item-lists">
    <app-sub-container-list [containers]="container.subContainers" (containerInvalidated)="refresh()"></app-sub-container-list>
    <app-collection-list [collections]="container.collections" (containerInvalidated)="refresh()"></app-collection-list>
    <app-deck-list [decks]="container.decks" (containerInvalidated)="refresh()"></app-deck-list>
  </div>
</div>
