:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 20px 0px;
}

.page-header-title {
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin-right: 5px;
}

.page-header-trail {
  font-size: 20px;
  color: white;
}
