:host {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.result-title {
  font-size: 20px;
}

.result-tiles-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;

  > .result-tile {
    margin: 8px;
    padding: 10px;
    background-color: white;

    > .large-text {
      font-size: 24px;
    }
  }

  > .result-tile:hover {
    background-color: lightgray;
  }
}
