:host {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  width: 50px;
  overflow: hidden;
}

app-nav-node {
  width: 200px;
}

.nav-node {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
  background-color: rgba(0, 0, 0, 1);

  .nav-node-open {
    background-color: rgba(0, 0, 0, 1);
  }

  > .nav-node-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 10px;

    > mat-icon {
      width: 50px;
    }

    > .nav-node-text {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      margin: 0px 10px 0px 0px;
    }
  }

  > .nav-node-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  > .nav-children {
    overflow: hidden;
  }
}

