.search-bar {
  padding: 10px;
  display: flex;
  flex-direction: row;

  > .search-field {
    margin-left: 10px;
    flex: 1;
  }

  > .filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  display: flex;
  flex-direction: column;

  > .modal-actions {
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    flex-direction: row;

    > * + * {
      margin-left: 5px;
    }
  }
}


