.search-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;

  > .search-field {
    margin-right: 10px;
    flex: 1;
  }

  > .filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
