mat-dialog-container {
  padding: 0px !important;
}

.modal {
  display: flex;
  flex-direction: column;

  > .modal-header {
    background-color: lightblue;
    padding: 20px 10px 20px 10px;

    > .modal-title {
      font-size: 25px;
      font-weight: bold;
    }
  }

  > .modal-content {
    padding: 10px;
  }

  > .modal-actions {
    padding: 5px 10px 15px 10px;
    margin-left: auto;
    display: flex;
    flex-direction: row;

    > * + * {
      margin-left: 5px;
    }
  }
}

