.container {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  app-card-filter {
    margin-bottom: 20px;
  }

  mat-card {
    display: flex;
  }
}

.crud-grid-action-column {
  flex: 0 0 25px;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
