:host {
  display: flex;
}

.card-image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-area-loading {
  border: 1px grey solid;
}

img {
  object-fit: contain;
  width: 100%;
}
