.error-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .error-code {
    font-size: 100px;
    font-weight: bold;
  }

  > .error-text {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
