<mco-card>
  <span mcoCardHeader>Fast Add ({{ resultComponent.totalSessionCount }} added this session)</span>

  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Sets" formControlName="setIds" multiple>
        <mat-option *ngFor="let set of sets" [value]="set.id">{{ set.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input appAutofocus #mainInput autocomplete="off" (keypress)="keyPressed($event)" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </form>

  <mco-card-rapid-entry-result #result
    (refocusEntry)="mainInput.focus()"
    (applied)="searched.emit()"
    [collection]="collection">
  </mco-card-rapid-entry-result>
</mco-card>
