<div class="padded-page">
  <app-page-header></app-page-header>
  <app-title-and-trail title="Bookmarks">
    <button [matMenuTriggerFor]="collectionMenu" class="options-button mat-elevation-z4" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </app-title-and-trail>

  <mat-menu #collectionMenu="matMenu">
    <button mat-menu-item (click)="addContainerBookmark()">Add Bookmark</button>
  </mat-menu>

  <div fxLayout="row" fxLayoutGap="10px">
    <app-bookmarked-container-list fxFlex [containers]="bookmarkedContainers" (containerInvalidated)="refresh()" (addClicked)="addContainerBookmark()"></app-bookmarked-container-list>
    <div fxFlex></div>
  </div>
</div>
