.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.crud-grid-action-column {
  flex: 0 0 75px;
  display: flex;
  justify-content: center;
  overflow: visible;
}

mat-icon {
  font-weight: bold;
}
