<div class="modal">
  <div class="search-bar">
    <div class="filter-button">
      <button mat-raised-button color="primary" (click)="openFilterDialog()">Filter</button>
    </div>
    <mat-form-field class="search-field">
      <input #searchTextBox matInput [(ngModel)]="searchText" placeholder="Enter Cards" (keyup)="search($event)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z4">
    <app-rapid-entry-result-grid #resultGrid [rapidEntryResultDataSource]="rapidEntryResultDataSource"></app-rapid-entry-result-grid>
    <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10]">
    </mat-paginator>
  </div>

  <div class="modal-actions">
    <button #cancelButton mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
  </div>
</div>
