.entry-bar {
  display: flex;
  flex-direction: row;

  > .filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  > .entry-field {
    flex: 1;
  }
}

.thin-width-column{
  flex: 0 0 100px;
}

.result-grid {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
}

.errored-row:not(:hover) {
  background-color: lightcoral;
}

.details-area {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;

  > .details-info {
    padding: 10px;
    font-size: 20px;
  }
}

mat-cell {
  overflow: visible;
}

.result-tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
}

.result-tile {
  margin: 8px;
  padding: 10px;
  background-color: white;

  > .large-text {
    font-size: 24px;
  }
}

.result-tile:hover {
  background-color: lightgray;
}
