<div class="modal">
  <div class="modal-header">
    <div class="modal-title">Rapid Entry</div>
  </div>

  <div class="modal-content">
    <div class="entry-bar">
      <div class="filter-button">
        <button mat-raised-button color="primary" (click)="openFilterDialog()">Filter</button>
      </div>
      <mat-form-field class="entry-field">
        <input #searchTextBox matInput [(ngModel)]="searchText" placeholder="Enter Cards" (keyup)="search($event)">
      </mat-form-field>
    </div>

    <div class="result-grid">
      <app-rapid-entry-result-grid #resultGrid [rapidEntryResultDataSource]="rapidEntryResultDataSource"></app-rapid-entry-result-grid>
      <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]">
      </mat-paginator>
    </div>
  </div>

  <div class="modal-actions">
    <button #cancelButton mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
  </div>
</div>
