<mat-card class="mat-elevation-z4">
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Sets" formControlName="setIds" multiple>
        <mat-option *ngFor="let set of sets" [value]="set.id">{{ set.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" (keypress)="keyPressed($event)" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </form>

  <app-card-rapid-entry-result (applied)="searched.emit()" [collection]="collection" #result></app-card-rapid-entry-result>
</mat-card>
