<div class="modal">
  <div class="modal-header">
    <div class="modal-title">Entry - {{ rapidEntryResult.results.length === 1 ? rapidEntryResult.results[0].name : rapidEntryResult.entryText }}</div>
  </div>

  <div class="modal-content">
    <div class="entry-bar">
      <app-set-selector class="set-selector" [selectedSetIds]="selectedSetIds" (setsSelected)="applySetFilter($event)"></app-set-selector>
      <mat-form-field class="entry-field">
        <input #searchTextBox matInput [(ngModel)]="searchText" placeholder="Enter Cards" (keyup)="search($event)">
      </mat-form-field>
    </div>

    <div class="details-area">
      <div class="details-info">
        {{ detailString }}
      </div>
      <div class="result-tiles-container" *ngIf="rapidEntryResult.results.length > 1">
        <div class="result-tile mat-elevation-z4" *ngFor="let cardSet of rapidEntryResult.results" (click)="optionClicked(cardSet)">
          <div class="large-text">{{ cardSet.card.name }}</div>
          <div><app-ss [cardSet]="cardSet" [sets]="sets"></app-ss> {{ setById(cardSet.setId).name }} - ({{cardSet.num}})</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-actions">
    <button #cancelButton mat-raised-button (click)="close()">Close</button>
  </div>
</div>
