<mco-card>
  <span mcoCardHeader>Filter</span>

  <form [formGroup]="form" fxLayout="column">
    <mat-form-field *ngIf="!disableCollectionSearch">
      <mat-select placeholder="Collection" formControlName="collectionIds" multiple>
        <mat-option *ngFor="let collection of collections" [value]="collection.id">{{ collection.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sets" formControlName="setIds" multiple>
        <mat-option *ngFor="let set of sets" [value]="set.id">{{ set.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Rarity" formControlName="rarities" multiple>
        <mat-option *ngFor="let rarity of rarities | keys" [value]="rarity.key">{{ rarity.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput placeholder="Text" formControlName="text">
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput placeholder="Type" formControlName="type">
    </mat-form-field>

    <mat-form-field>
      <input autocomplete="off" matInput placeholder="Number" formControlName="nums">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
  </form>
</mco-card>
