<div class="page-container">
  <div class="login-card mat-elevation-z4">
    <div class="login-header">
      <img class="app-logo" src="https://tournamentcenter.eu/sites/default/files/mtg-logo.png"/>
      <div class="login-title">Mtg Card Organizer</div>
    </div>

    <div class="login-content">
      <mat-form-field>
        <input matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>

      <div class="login-forgot-password">
        <a href="javascript:void(0)">Forgot Password?</a>
      </div>

      <div class="login-button-area">
        <button class="login-button" mat-raised-button color="primary">Login</button>
      </div>
    </div>

    <div class="login-footer">
      <div>Don't have an account?</div>
      <div>
        <a href="javascript:void(0)">Create an account</a>
      </div>
    </div>
  </div>
</div>
