<mco-default-page title="Card Search">
  <div fxLayout="row" fxLayoutGap="20px">
    <mco-card contentPadding="0px" fxFlex>
      <span mcoCardHeader>
        Search Results
        <button mat-raised-button (click)="openFilter()">Filter</button>
      </span>

      <mco-variable-grid
        [filter]="filter"
        [displayedColumns]="['count', 'name', 'setSymbol', 'manaCost', 'type', 'pt', 'foil']"
        (rowSelected)="rowSelected($event)">
      </mco-variable-grid>
    </mco-card>
  </div>
</mco-default-page>
