<div class="nav-node" [class.nav-node-open]="navNode.open">
  <div mat-ripple class="nav-node-button" (click)="nodeClicked()">
    <mat-icon>{{ navNode.icon }}</mat-icon>
    <div class="nav-node-text">{{ navNode.text }}</div>
    <div [@arrowDown]="navNode.open" *ngIf="hasChildren"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>
  <div [@slideOpen]="navNode.open" class="nav-children">
    <div *ngIf="hasChildren">
      <app-nav-node *ngFor="let navNode of navNode.children"
        [navNode]="navNode"
        [nestedIndex]="nestedIndex + 1"
        (nodeActionEvent)="nodeActionEvent.emit($event)">
      </app-nav-node>
    </div>
  </div>
</div>
