/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$keyrune-font-path: "../node_modules/keyrune/fonts/";
@import '../node_modules/keyrune/sass/keyrune.scss';

@import '../node_modules/mana-font/css/mana.min.css';

@import './app/shared/styles/modal.scss';

* {
  font-family: Roboto,Helvetica Neue,sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
