<div class="card-search mat-elevation-z8">
  <!-- <app-card-search-bar [cardDataSource]="cardDataSource"></app-card-search-bar> -->

  <app-basic-grid [service]="cardService" [filter]="filter" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance">{{cardInstance.cardSet.card.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="setSymbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Set</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance"><app-ss [cardSet]="cardInstance.cardSet" [sets]="sets"></app-ss></mat-cell>
    </ng-container>

    <ng-container matColumnDef="setNum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Num</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance">{{cardInstance.cardSet.num}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manaCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mana Cost</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance"><app-mc [card]="cardInstance.cardSet.card"></app-mc></mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Power</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance">{{cardInstance.cardSet.card.power}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="toughness">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Toughness</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance">{{cardInstance.cardSet.card.toughness}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="foil">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Foil</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance"><mat-checkbox disabled [(ngModel)]="cardInstance.foil"></mat-checkbox></mat-cell>
    </ng-container>

    <ng-container matColumnDef="promo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Promo</mat-header-cell>
      <mat-cell *matCellDef="let cardInstance"><mat-checkbox disabled [(ngModel)]="cardInstance.promo"></mat-checkbox></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let cardInstance; columns: displayedColumns;" (click)="cardInstanceSelected.emit(cardInstance);"></mat-row>
  </app-basic-grid>
</div>
