.toggle-group {
  background-color: white;
}

app-card-rapid-entry {
  max-width: 1000px;
  min-width: 1000px;
}

.crud-grid-action-column {
  flex: 0 0 25px;
  display: flex;
  justify-content: center;
  overflow: visible;
}
