<div class="padded-page">
  <mat-card>
    <div fxFlex class="title">Collection: {{ collection.name }}</div>
    <button mat-raised-button color="primary" (click)="openRapidEntry()">Fast Add</button>
  </mat-card>

  <div class="inner-content">
    <div *ngIf="collection.hasSubCollections">
      <div class="collection-container" *ngFor="let collection of subCollections">
        <mat-card class="collection-card" (click)="collectionClicked(collection)">
          {{ collection.name }}
        </mat-card>
      </div>
    </div>

    <app-card-search fxFlex [cardService]="collectionCardServiceWrapper"></app-card-search>
  </div>
</div>
