<div class="modal">
  <div class="modal-header">
    <div class="modal-title">Card Filter</div>
  </div>

  <div class="modal-content" fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="nameFilter" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input #oracleTextInput matInput placeholder="Oracle Text">
    </mat-form-field>
    <mat-form-field>
       <mat-select [(ngModel)]="setFilter" placeholder="Set" multiple>
        <mat-option *ngFor="let set of sets" [value]="set.id">
          {{ set.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="modal-actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
  </div>
</div>
