<mco-card-filter (filterChanged)="filter = $event"></mco-card-filter>

<mco-card contentPadding="0px">
  <span mcoCardHeader>Search Results</span>

  <mco-card-grid
    [filter]="filter"
    [displayedColumns]="['name', 'manaCost', 'toMain', 'toSideboard']"
    [wrappedService]="wrappedService"
    (rowSelected)="rowSelected.emit($event)">
    <ng-container matColumnDef="toMain">
      <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="crud-grid-action-column" *matCellDef="let record">
        <button mat-icon-button (click)="$event.stopPropagation(); toMain.emit(record)">
          <mat-icon>label_important</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="toSideboard">
      <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="crud-grid-action-column" *matCellDef="let record">
        <button mat-icon-button (click)="$event.stopPropagation(); toSideboard.emit(record)">
          <mat-icon>label_important</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mco-card-grid>
</mco-card>
