<mco-card fxFlex contentPadding="0px">
  <div mcoCardHeader fxLayoutAlign="space-between center">
    <span>Search</span>
    <button mat-raised-button (click)="openFilter()">Filter</button>
  </div>

  <mco-variable-grid #grid
    [filter]="filter"
    [extraColumns]="['toMain', 'toSideboard']"
    [displayedColumns]="['count', 'name', 'manaCost']"
    (rowSelected)="rowSelected.emit($event)">
    <ng-container matColumnDef="toMain">
      <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="crud-grid-action-column" *matCellDef="let record">
        <button mat-icon-button matTooltip="Main Deck" (click)="$event.stopPropagation(); toMain.emit(grid.convert(record).card)">
          <mat-icon>description</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="toSideboard">
      <mat-header-cell class="crud-grid-action-column" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="crud-grid-action-column" *matCellDef="let record">
        <button mat-icon-button matTooltip="Sideboard" (click)="$event.stopPropagation(); toSideboard.emit(grid.convert(record).card)">
          <mat-icon>class</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mco-variable-grid>
</mco-card>
